
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:wght@200;300;400;600;700&family=Roboto+Mono:wght@300;400&family=Roboto:wght@100;300;400;500;700&display=swap');


*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; 
   border:none;
   text-decoration: none;

}


::selection{
   /* Cibler la partie d’un élément déjà 
   sélectionnée par l’utilisateur */
   background-color: #ff8C00;
}


html{
   font-size: 62.5%;
}

/* root */
:root{
   --squeaky: #63cdda;
   --rose: #ede;
}

body{
   height: 100vh;
   background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
   background-blend-mode: normal, lighten, soft-light;
   
}

body.active{
   padding-left: 0;
}
/* chrono style starts */

.container{
   background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
   border-radius: 2rem;
   z-index: -10000;
   margin:  1.5rem 0 1.5rem .5rem;
   padding: 1rem;
   height: auto;
   display: flex;
   flex-direction: column;
   border-radius: 2rem;
}


.container .home-container{
   background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
   width: 100%;
   display: block;
   height: 100%;
   margin: 2rem 0;
   border-top-right-radius: 12rem;
   height: auto;
}


.container .home-container .animationText{
   color: white;
   text-align: center;
   padding: 1.5rem 1.5rem;
   background: var(--squeaky);
   border-radius: 20rem 0 20rem 0;
   border-left: 3rem double rgba(0, 0, 0, 0.75);
   width: 60%;
   height: auto;
   margin: 2rem 1.5rem;
}


.container .home-container .animationText h3{
   -webkit-text-stroke: 1px white; 
   color: transparent;
   background-image: linear-gradient(#fff, #ffff);
   background-repeat: no-repeat;
   -webkit-background-clip: text;
   font-size: 4rem;
   background-position: -830px 0;
   animation: backcolor 2s linear infinite alternate;

}

@keyframes backcolor{

   20%{
      background-position: 3 1;
   }

   100%{
      background-position: 0 0;
   }
}

 
.container .home-container .chronometre{
   margin: 3rem 1.5rem;
   display: flex;
   align-items: center;
   background: var(--rose);
   height: auto;
}

.container .home-container .chronometre .meter{
   background-color: #5372f0; /* Couleur de fond de notre page */
   display: flex; /* Pour rendre le corps de notre page flexible */
   align-items: center; /* Centrer les élément verticalelement */
   justify-content: center; /* Centrer les élément horizontalement */
   margin: 3rem;
   padding: 2rem 1rem;
   outline: .3rem solid #ccc;
   outline-offset: -.6rem;
   height: 570px;
   width: 100%;
   box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}


.container .home-container .chronometre .meter .content{
   background: white;
   align-items: center;
   justify-content: center;
   background-color: #fff;
   padding: 20px;
   flex-direction: column;
   box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
   
}


.container .home-container .chronometre .meter .content h2{
   margin-bottom: 40px; /* Marge externe du côté inférieur = 40px */
   text-align: center;
   font-size: 26px;
   color: rgb(127, 0, 255);
   font-family: sans-serif;
}


.container .home-container .chronometre .meter .content input {
   padding: 20px;
   user-select: none;
   height: 50px;
   width: 400px;
   border-radius: 6px;
   border: none;
   border: 2px solid rgb(127, 0, 255);
   outline: none;
   font-size: 22px;

}


.container .home-container .chronometre .meter .content input::placeholder{
   font-size: 23px;
} 


.container .home-container .chronometre .meter .content #button {
   font-family: sans-serif;
   font-size: 15px;
   margin-top: 40px;
   border: 2px solid rgb(127, 0, 255);
   width: 155px;
   height: 50px;
   text-align: center;
   background-color: rgb(127, 0, 255);
   display: flex;
   color: rgb(255, 255, 255);
   justify-content: center;
   align-items: center;
   cursor: pointer;
   border-radius: 7px;
}

.btn2{
   margin-left: 85px
}


#button:hover {
   background-color: rgb(155, 0, 255);
   color:  white;
   font-weight: bold;
 
}

/* medias queries */

@media (max-width: 768px){

}

@media (max-width: 991px){
   html{
      font-size: 45%;
   }

   .container .home-container .animationText{
      width: 90%;

   }

}


@media (max-width: 580px){
   html{
      font-size: 40%;
   }

   .container .home-container .animationText{
      width: 90%;

   }

}


@media (max-width: 524px){
   html{
      font-size: 40%;
   }

   .container .home-container .animationText{
      width: 90%;

   }

   .container .home-container .chronometre .meter .content{
      width: 350px;
   }

   .container .home-container .chronometre .meter .content input{
      width: 300px;
   }

   .container .home-container .chronometre .meter .content #button{
      width: 100px;
   }

}